<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklastvisit</name>
	<displayName><![CDATA[Recently Viewed Products]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[It adds a block on your stores that shows recently viewed products.]]></description>
	<author><![CDATA[PRESTATR]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>